.creative {text-align: center;}

#blah-blah-blah {font-size: 25px;}
#blah-blah {font-size: 20px;}
.fun-list {font-size: 20px}


ol {color: red;}
ul {background-color: white;}
h1 {border-style: solid;font-size: 60px;text-align: centre;}

h2 {background-color: green; font-family: Simsun;}
  
body {background-color: yellow;}